@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>
    <a asp-action="Create" asp-controller="Bookings">Додати новий матч</a>
</p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
